*{
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #373737;
}
#title {
    font-size: 24px;
    text-align: center;
    margin: 25px 0px 10px 0px;
}
#subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
#grid_items {
    text-align: center;
    margin-top: 25px;
}
.card_holder {
    width: 300px;
    display: inline-table;
  cursor: pointer;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 300px;
    float: left;
    margin: 20px;
}
.card:hover {
  /*height: 450px;*/
  width: 300px;
}
.card:hover .cta-container {
  display: inline;
  margin-top: 240px;
}
.card:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -175px;
}
.card:hover h2 {
  color: #fff;
  margin-top: 55px;
  padding: 5px;
}
.card:hover h2 small {
  color: #fff
}
.card:hover p {
  margin-top: 190px;
  color: #fff;
}
.card_circle {
  background: url() no-repeat center bottom;
  background-color: #ee6e73;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -320px;
  position: absolute;
  width: 450px;
}
h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
p {
  color: rgba(0, 0, 0, .6);
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;
  width: 100%;
}
.cta-container {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.cta {
  -moz-border-radius: 2px;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #ee6e73;
  border-radius: 2px;
  color: #ee6e73;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
.cta:hover {
  background-color: #ee6e73;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
code {
    color: #ee6e73;
}
#neogallery img {
  width: 420px;
    margin: 10px;
    border: 1px solid #414141;
}
.imageHolder:hover {
    transform: scale(1.02);
    transition: 0.3s;
    transition-delay: 0.1s;
    z-index: 20;
    cursor: pointer;
}
#neogallery {
    display: table-cell;
    text-align: center;
    padding-top: 20px;
    height: 100%;
    overflow-y: scroll;
}
.imageHolder {
    display: inline-block;
    position: relative;
    transition: .3s;
}
.titletext {
    background: #414141;
    bottom: 1px;
    font-weight: 100;
    color: #fff;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    font-size: 13px;
}
#maxedImage img {
    width: 100%;
}
#maxedImage {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 30;
}
body {
    margin: 0;
    padding: 0;
}
.control {
    display: none;
    z-index: 60;
    position: absolute;
    top: 50%;
    height: 40px;
  width: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  border-radius: 100%;
  cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABQCAYAAACZM2JkAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABR0RVh0Q3JlYXRpb24gVGltZQA5LzMvMTIU8Q8YAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAA5ZJREFUeJztm81t20AQRp+C3O0SjJ1rAKkBIyzBqSA++Z4OUkKu8smuIO4gNNwABeQ6C7sDuQLmwBVAG2ZkicvRypgHEKAESpz9sJjZv2/Wti27MpvNdv7NR+bq6uoGWADV9fX1On13CtRAs1wuL2cu9DiSyN/TxxVQpfsamKf728+mUX1MFr37OfCQ7r/0n/lkF8+HpaLryRu+8FLkFVB56shAyscPvBQY4C9wvlwu196jjfAePZLe6GI+8MgKqLxHj6fmpch/07VhDtQu9Hia3v0KOE9Xv0A2njoy4BOWQmjbFk8dRkwidAjhLITQbH/ShhBCE0I4O2QM2YUOIVzQFYih4c4hmANNiu0gZBU6hPAL+A2c5PzfTJwAv1OM5mQphiGENwftMcYiqmYI4XUjV0AVY1xbvD9LMQwhVMAjZaWKbcyBxxS7CaOEDiH8BP5QZqrYxgnwJ7VhcvZKHSJyCtwBX//3XMGp4zX3wMVUqaRtW/Zd+H/kOHvxEF/p2nQ61Qv2TR0XwHPOQA7MM12bJmMvoWOMNd3OwlPOYA7EE90IpJ7yJXsXwxhjQ7eQstr2bMGsgEVqy6SMGnXEGNcxxgVwmykeS25jjAursXSWmWGM8RL4keO/jPiRYjYj2xQ8xvgL+EbZRfIZ+JZiNSXrWkeM8Y5yi+Sm6N0d4uXZV+8KLZJmRW8I32ExwHdYDPGzdxkIIdyQNmc3w8Xe0nED+ObsWJLIfprUAD9NakSFnya1IeXjwdOkquqnSa3wHj2SoY3pHn6aNBM1fprUBD9NasW2CYuq7jdhcXbHU4cRLrQRLrQRLrQRLrQRLrQRLrQRLrQRLrQRLrQRLrQVbdvufG1DVc9UtRifoao2qnp2yBiy92hVLdZnmGI7CFmFVtXifYYpRnOyrEer6pvbOSJSxMK1qr7pMxQRk7PRkKFHq2rFkfoMU+wmjBJaVX9y5D7D1IbJ2St1xBjf5TMsOHW85h64mDKVuM+ww32GRpTpMxSRmnItFLvyRDcCqad8yd7FUERKtFDsygpYpLZMyqhRh4isReRofYYisrAaS2eZGYrIJUfmM0wxm5FtCi4iR+MzTLGaknWtQ0SK9xmmGM3JvnpXaJE0K3pD+CFHI3yHxQh3ZWVAVW9Ix3Y3w8Xe0nEjIu4zHEsS2X2GBrjP0IgK9xnakPLxoM9QRNxnaIX36JEMbUz3cJ9hJmrcZ2iC+wyteM+E5R9csMW4DOpJbAAAAABJRU5ErkJggg==)
}
.next {
    right: 10px;
    background-position: -40px 0;
}
.previous {
    left: 10px;
    background-position: 0 0;
}
.createdon {
    font-size: 16px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
