@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #373737;
}
#backbtn{
  color: #1daeec;
  margin-left: 5%;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  position: absolute;
}
#title {
  font-size: 24px;
  margin: 25px 0px 10px 0px;
  position: relative;
}
#subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
#grid_items {
  text-align: center;
  margin-top: 25px;
}
.card_holder {
  width: 300px;
  display: inline-table;
  cursor: pointer;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  float: left;
  margin: 20px;
}
.card:hover {
  width: 300px;
}
.card:hover .cta-container {
  display: inline;
}
.card:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -175px;
}
.card:hover h2 {
  color: #fff;
  margin-top: 55px;
  padding: 5px;
}
.card:hover h2 small {
  color: #fff
}
.card:hover p {
  margin-top: 190px;
  color: #fff;
}
.card_circle {
  background: url() no-repeat center bottom;
  background-color: #ee6e73;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -320px;
  position: absolute;
  width: 450px;
}
h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
p {
  color: rgba(0, 0, 0, .6);
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;
  width: 100%;
}
.cta-container {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.cta {
  background-clip: padding-box;
  border: 2px solid #ee6e73;
  border-radius: 2px;
  color: #ee6e73;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
.cta:hover {
  background-color: #ee6e73;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}
code {
  color: #ee6e73;
}
#neogallery img {
  width: 420px;
  margin: 10px;
  border: 1px solid #757575;
}
.imageHolder:hover {
  transform: scale(1.02);
  transition: 0.3s;
  transition-delay: 0.1s;
  z-index: 20;
  cursor: pointer;
}
#neogallery {
  display: table-cell;
  text-align: center;
  padding-top: 20px;
  height: 100%;
  overflow-y: scroll;
}
.imageHolder {
  display: inline-block;
  position: relative;
  transition: .3s;
}
.titletext {
  background: #757575;
  bottom: 1px;
  font-weight: 100;
  color: #fff;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  font-size: 13px;
}
#maxedImage img {
width: 100%;
}
#maxedImage {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 30;
}
body {
  background-color: #163870;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
body:before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom,  #000b2c 0%,#163870 100%);
}
.control {
  display: none;
  z-index: 60;
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0;
  cursor: pointer;
}
.control svg{
  position: absolute;
  top: 50%;
  opacity: 0.1;
}
.control:hover svg{
  opacity: 1;
}
.next svg {
    right: 40px;
}
.previous svg {
    left: 40px;
}
.next{
  right: 0;
}
.control.next:hover {
    background: linear-gradient(-90deg, #79797963,rgba(0, 0, 0, 0));
}
.control.previous:hover {
    background: linear-gradient(90deg, #79797963,rgba(0, 0, 0, 0));
}
.createdon {
  font-size: 14px;
  color: #acacac;
  text-align: center;
  margin-top: 10px;
}
.title{
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.1px;
}
#tabs {
    text-align: center;
    position: relative;
}
#tabs li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px 12px;
  margin: 30px 12px 0;
  color: #a3a3a3;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
}
#tabs li.active {
  border-bottom: 3px solid #1eaeeb;
  color: #ffffff;
}